.header{
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-bottom: 0.3px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.header_left{
    display: flex;
}
.header_left>img{
    object-fit: contain;
    height: 46px;
    margin-right: 10px;
}
.header_search{
    display: flex;
    padding: 18px;
    align-items: center;
    height: 10px;
    color: rgb(207, 200, 200);
    border-radius: 5px;
    background-color: #eef3f8;
}
.header_search>input{
    outline: none;
    border: none;
    background: none;
}
.header_right{
    display: flex;
}